doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Real State &lt; 221004 &gt; | #{page}
        link(rel="stylesheet", href="/css/app.css")
        link(rel="shortcut icon", href="../../public/img/casa.png", type="image/x-icon")
    body.min-h-screen.bg-blue
        main(class="mx-auto container mt-10 px-2")
            
            block content