header.bg-green1.p-4 
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.font-extrabold.text-center.text-orange Real
            span.font-normal.text-green2 Estate
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(class="bg-green3 py-2 px-10 rounded-lg hover:bg-orange" href="") Properties 
            a(class="bg-green3 py-2 px-10 rounded-lg hover:bg-orange" href="") Profile 
            a(class="bg-green3 py-2 px-10 rounded-lg hover:bg-orange" href="") Logout

                