extends ../layout/index.pug

block content
    .py-10
        a(href="/properties/create" class="rounded py-2 px-10 bg-orange hover:bg-green3 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto") Publish new property
        