extends ../layout/index.pug

block content

    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-orange Real 
            span.font-normal.text-green2 State 
        h2.text-center.text-3xl.font-extrabold= page
    div.bg-green1.shadow.py-8.px-4.border-lg
        p.text-xl.text-bold.text-center.my-10.text-white.upercase.py-5(class= error ? "bg-orange" : "bg-green3")= msg
            div.flex.items-center.justify-between.pt-5 
                    a(href="/login").w-full.bg-green1.uppercase.text-white.text-center(class="text-gray-800 font-bold py-3 px-5 cursor-pointer bg-green1 rounded-xl hover:bg-orange hover:text-white ") #{button}