extends ../layout/index.pug

block content
    div.py-10.z-40
        if errors 
            div(id="mensaje" class="max-w-xs me-8 my-10 transition-opacity duration-500 opacity-1 -z-40 absolute")
                each error in errors 
                        p(class="bg-orange text-white uppercase text-xs text-center p-2 mb-1 font-bold rounded-full")= error.msg 
        h1.text-center.text-4xl.my-10.font-extrabold.text-orange Real 
            span.font-normal.text-green2 State 
        h2.text-center.text-3xl.font-extrabold= page 

        .mt-8.mx-auto.max-w-xl  
            .bg-green1.py-8.px-4.shadow-xl.rounded-lg 
                form(action="/login" method="post" noValidate).space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Name: 
                        input#email.w-full.px-e.py-2.border.border-gray-300.rounded-sm.place-holder-gray-400(placeholder="user@domain.com" name="email" type="email" value=user && user.email ? user.email : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Password: 
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.place-holder-gray-800(placeholder="**********" name="password" type="password")
                    
                    div 
                        input(type="submit" value="Login" class="bg-green3 w-full text-white font-bold py-2 px-4 rounded")

                    div.flex.items-center.justify-between
                
                            
                        a.text-sm.text-gray-500(href="/login/password-recovery") Forgot your password?
                        br
                        a.text-sm.text-gray-500(href="login/register") Create new account.
    script.
        const mensaje = document.getElementById("mensaje");
        setTimeout(() => {mensaje.style.opacity = '0';}, 3000);